<head>
    <meta charset="UTF-8" />
    <title>자바웹</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="./button.css">
</head>

<body>
    <div id="container" style="width: 550px; height: 400px; margin: 0 auto"></div>
    <script language="JavaScript">
        let data1 = ["{{max}}"];
        let data2 = ["{{min}}"];
        let data3 = ["{{average1}}"];
        let name2 = "{{name}}";

        $(document).ready(function () {
            var title = {
                text: "Node js 과제 구현"
            };
            var subtitle = {
                text: "돌팔",
            };
            if (name2.indexOf('core')) {
                var xAxis = {
                    categories: ["core1", "core2", "core3", "core4", "core5"]
                };
            } else {
                var xAxis = {
                    categories: ["task1", "task2", "task3", "task4", "task5"]
                };
            }

            var yAxis = {
                title: {
                    text: "value",
                },
                plotLines: [
                    {
                        value: 0,
                        width: 1,
                        color: "#808080",
                    },
                ],
            };

            var tooltip = {
                valueSuffix: "\xB0C",
            };

            var legend = {
                layout: "vertical",
                align: "right",
                verticalAlign: "middle",
                borderWidth: 0,
            };

            var series = [
                {
                    name: "max",
                    data: [parseInt("{{max[0]}}"), parseInt("{{max[1]}}"), parseInt("{{max[2]}}"), parseInt("{{max[3]}}"), parseInt("{{max[4]}}")],
                },
                {
                    name: "min",
                    data: [parseInt("{{min[0]}}"), parseInt("{{min[1]}}"), parseInt("{{min[2]}}"), parseInt("{{min[3]}}"), parseInt("{{min[4]}}")],
                },
                {
                    name: "average1",
                    data: [parseInt("{{average1[0]}}"), parseInt("{{average1[1]}}"), parseInt("{{average1[2]}}"), parseInt("{{average1[3]}}"), parseInt("{{average1[4]}}")],
                },
            ];

            var json = {};

            json.title = title;
            json.subtitle = subtitle;
            json.xAxis = xAxis;
            json.yAxis = yAxis;
            json.tooltip = tooltip;
            json.legend = legend;
            json.series = series;

            $("#container").highcharts(json);


        });

    </script>
    <h4>코어단위</h4>
    <a href="/as/0/core">core1</a>
    <a href="/as/1/core">core2</a>
    <a href="/as/2/core">core3</a>
    <a href="/as/3/core">core4</a>
    <a href="/as/4/core">core5</a>
    <br>
    <h4>작업단위</h4>
    <a href="/as/5/task">task1</a>
    <a href="/as/6/task">task2</a>
    <a href="/as/7/task">task3</a>
    <a href="/as/8/task">task4</a>
    <a href="/as/9/task">task5</a>
</body>

</html>